<section id="contacto" class="py-10">
	<div class="mx-auto w-full px-10">
		<div class="mx-auto mb-8 md:mb-14 max-w-3xl text-center">
			<h2 class="mt-5 text-2xl font-bold text-primary md:text-5xl">
				Estamos listos para ayudarte
			</h2>

			<p class="mt-5 text-base md:text-lg text-secondary">
				Ponte en contacto con nuestro equipo y recibe una asesoría
				personalizada sin compromiso.
			</p>
		</div>

		<div class="grid gap-5 md:gap-10 lg:grid-cols-2">
			<!-- Google Maps -->
			<div class="overflow-hidden rounded-3xl shadow-xl">
				<iframe
					class="h-full min-h-80 md:min-h-[550px] w-full"
					src="https://www.google.com/maps?q=Cancún,+Quintana+Roo&output=embed"
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
				>
				</iframe>
			</div>

			<!-- Card -->
			<div class="flex">
				<div class="w-full rounded-3xl bg-white p-10 shadow-xl">
					<h3 class="text-3xl text-center md:text-start font-bold text-primary">
						SolNativa Energy
					</h3>

					<p class="mt-4 text-center md:text-start text-secondary">
						Estamos comprometidos con brindar soluciones solares
						eficientes para hogares, comercios y empresas en Cancún
						y la Riviera Maya.
					</p>

					<div class="mt-10 space-y-8 text-center md:text-start">
						<div class="flex items-start gap-5">
							<div class="w-full">
								<h4 class="font-semibold text-secondary">
									Dirección
								</h4>

								<p class="mt-1 text-secondary">
									Av. Bonampak 123,
									<br />
									Cancún, Quintana Roo, México.
								</p>
							</div>
						</div>

						<div class="flex items-center md:items-start gap-5">
							<div class="w-full">
								<h4 class="font-semibold text-secondary">
									Teléfono
								</h4>

								<a
									href="tel:+529981234567"
									class="mt-1 block text-secondary hover:text-primary"
								>
									+52 998 123 4567
								</a>
							</div>
						</div>

						<div class="flex items-start gap-5">
							<div class="w-full">
								<h4 class="font-semibold text-secondary">
									Correo electrónico
								</h4>

								<a
									href="mailto:info@solnativa.com"
									class="mt-1 block text-secondary hover:text-primary"
								>
									info@solnativa.com
								</a>
							</div>
						</div>

						<div class="flex items-start gap-5">
							<div class="w-full">
								<h4 class="font-semibold text-secondary">
									Horario de atención
								</h4>

								<p class="mt-1 text-secondary">
									Lunes a Viernes
									<br />
									9:00 AM – 6:00 PM
								</p>
							</div>
						</div>
					</div>

					<a
						href="#"
						class="mt-10 inline-flex text-center w-full items-center justify-center rounded-xl bg-accent px-4 md:px-8 py-2 md:py-4 text-base md:text-lg font-semibold text-baseLight transition hover:bg-primary"
					>
						Solicitar una Cotización
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
