<section class="py-5 md:py-10 px-10">
  <div class="relative w-full mx-auto overflow-hidden py-10 bg-cover bg-center rounded-2xl bg-[url(/images/cta.webp)]">

    <div class="absolute inset-0 bg-black/75"></div>

    <div class="relative mx-auto flex max-w-5xl flex-col items-center px-6 text-center">
        <h2 class="mt-8 text-2xl md:text-3xl lg:text-5xl font-extrabold leading-tight text-baseLight">
            ¿Listo para transformar tu consumo energético?
        </h2>

        <p class="mt-6 max-w-3xl text-base lg:text-lg leading-relaxed text-baseLight">
            Nuestro equipo puede ayudarte a encontrar la solución ideal para tu hogar, empresa o industria.
        </p>

        <div class="mt-10 flex flex-col gap-4 sm:flex-row">

            <a
                href="#contacto"
                class="rounded-xl bg-accent px-4 md:px-8 py-3 text-base md:text-lg font-semibold text-primary transition duration-300 hover:bg-primary hover:text-baseLight">

                Solicitar Cotización

            </a>
        </div>

    </div>

</div>
</section>