<section
  id="hero"
  class="relative min-h-screen bg-cover bg-center bg-[url(/images/cta.webp)]">
  <div class="absolute inset-0 bg-black/80"></div>

  <div class="relative mx-auto flex min-h-screen max-w-7xl items-center px-6">
    <div class="max-w-4xl m-auto text-white text-center flex flex-col items-center">

      <h1 class="mb-6 text-3xl font-extrabold leading-tight md:text-6xl">
        Aprovecha la energía del sol y reduce tu recibo de luz
      </h1>

      <p class="mb-10 max-w-2xl text-base leading-relaxed text-gray-200 md:text-xl">
        Instalamos paneles solares para hogares, negocios y hoteles en Cancún y la Riviera Maya.
        Ahorra hasta un 95% en tu consumo eléctrico con tecnología de alta eficiencia.
      </p>

      <div class="flex flex-col gap-4 sm:flex-row">

        <a
          href="#"
          class="rounded-2xl bg-accent px-4 md:px-6 py-2 md:py-3 text-center font-semibold text-primary transition hover:bg-primary hover:text-baseLight"
        >
          Solicitar Cotización
        </a>

        <a
          href="#proyectos"
          class="rounded-2xl border-2 border-white px-4 md:px-6 py-2 md:py-3 text-center font-semibold text-white transition hover:bg-white hover:text-primary"
        >
          Ver Proyectos
        </a>

      </div>

    </div>
  </div>
</section>