<section id="servicios" class="py-10">
	<div class="mx-auto w-full px-10">
		<div class="mx-auto mb-14 max-w-3xl text-center">
			<h2 class="mt-3 text-3xl lg:text-5xl font-bold text-primary">
				Soluciones solares integrales para hogares y empresas
			</h2>

			<p class="mt-4 text-secondary">
				Te acompañamos desde la evaluación de tu proyecto hasta el
				mantenimiento de tu sistema fotovoltaico, garantizando
				eficiencia y ahorro energético.
			</p>
		</div>

		<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-4">
			<article
				class="group relative min-h-120 overflow-hidden rounded-2xl shadow-sm"
			>
				<div
					class="absolute inset-0 bg-[url('/images/services/disenodimensiomiento.jpg')] bg-cover bg-center transition-transform duration-700 ease-out group-hover:scale-110"
				>
				</div>

				<div class="absolute inset-0 bg-black/50"></div>

				<div
					class="relative z-10 flex h-full items-end justify-center p-8"
				>
					<h3 class="text-center text-xl font-medium text-baseLight">
						Diseño y Dimensionamiento
					</h3>
				</div>
			</article>

			<article
				class="group relative min-h-120 overflow-hidden rounded-2xl shadow-sm"
			>
				<div
					class="absolute inset-0 bg-[url('/images/services/instalacion.jpg')] bg-cover bg-center transition-transform duration-700 ease-out group-hover:scale-110"
				>
				</div>

				<div class="absolute inset-0 bg-black/50"></div>

				<div
					class="relative z-10 flex h-full items-end justify-center p-8"
				>
					<h3 class="text-center text-xl font-medium text-baseLight">
						Instalación Profesional
					</h3>
				</div>
			</article>

			<article
				class="group relative min-h-120 overflow-hidden rounded-2xl shadow-sm"
			>
				<div
					class="absolute inset-0 bg-[url('/images/services/mantenimiento.jpg')] bg-cover bg-center transition-transform duration-700 ease-out group-hover:scale-110"
				>
				</div>

				<div class="absolute inset-0 bg-black/50"></div>

				<div
					class="relative z-10 flex h-full items-end justify-center p-8"
				>
					<h3 class="text-center text-xl font-medium text-baseLight">
						Mantenimiento Preventivo
					</h3>
				</div>
			</article>

			<article
				class="group relative min-h-120 overflow-hidden rounded-2xl shadow-sm"
			>
				<div
					class="absolute inset-0 bg-[url('/images/services/soporte.jpg')] bg-cover bg-center transition-transform duration-700 ease-out group-hover:scale-110"
				>
				</div>

				<div class="absolute inset-0 bg-black/50"></div>

				<div
					class="relative z-10 flex h-full items-end justify-center p-8"
				>
					<h3 class="text-center text-xl font-medium text-baseLight">
						Monitoreo y Soporte
					</h3>
				</div>
			</article>
		</div>
	</div>
</section>
